#header {
    background: white;
    width: 100vw;
    min-height: 50px;
    height: 7.5vh;
    z-index: 3;
}

.title {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: "Bodoni Moda", serif;
    font-style: italic;
    font-weight: 650;
    position: relative;
    top: -5px;
    background: linear-gradient(to bottom right, navy, skyblue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linkBox {
    display: block;
    width: 210px;
    position: absolute;
    top: 25px;
    left: 20px;
}

.icons {
    filter: invert();
    min-width: 30px;
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.icons:hover {
    animation: hover 100ms linear forwards;
}

@keyframes hover {
    0%{
        transform: scale(1.0);
    }
    100%{
        transform: scale(1.1);
    }
}

.accountBox {
    position: relative;
    top: -60px;
    display: block;
    width: 240px;
    float: right;
    right: 20px;
}

.sign {
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 40px;
    background-color: white;
    border: 3px solid Navy;
    border-radius: 10px;
}

.sign:hover {
    background-color: rgb(246, 246, 246);
    cursor: pointer;
}

@media (max-height: 870px){
    #header {
        width: 100vw;
        height: 5vh;
        z-index: 3;
    }
    
    .title {
        text-align: center;
        font-size: 40px;
        font-family: "Bodoni Moda", serif;
        font-style: italic;
        position: relative;
        top: -5px;
    }
    
    .linkBox {
        display: block;
        width: 210px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    
    .icons {
        width: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .accountBox {
        position: relative;
        top: -50px;
        display: block;
        width: 220px;
        float: right;
        right: 20px;
    }
    
    .sign {
        font-size: 15px;
        font-family:'Courier New', Courier, monospace;
        margin-left: 10px;
        margin-right: 10px;
        width: 90px;
        height: 30px;
        border-radius: 5px;
    }
    
    .sign:hover {
        cursor: pointer;
    }
}

@media (max-width: 800px){
    #header {
        width: 800px;
        height: 5vh;
        position: fixed;
        z-index: 3;
    }
    
    .title {
        text-align: center;
        font-size: 40px;
        font-family: "Bodoni Moda", serif;
        font-style: italic;
        position: relative;
        top: -5px;
    }
    
    .linkBox {
        display: block;
        width: 210px;
        position: absolute;
        top: 10px;
        left: 20px;
    }
    
    .icons {
        width: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .accountBox {
        position: relative;
        top: -50px;
        display: block;
        width: 220px;
        float: right;
        right: 20px;
    }
    
    .sign {
        font-size: 15px;
        font-family:'Courier New', Courier, monospace;
        margin-left: 10px;
        margin-right: 10px;
        width: 90px;
        height: 30px;
        border-radius: 5px;
    }
    
    .sign:hover {
        cursor: pointer;
    }
}